*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Unbounded", sans-serif;
}

.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 70px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 317px;
  height: 193px;
  margin-right: 99px;
}
.header__logo img {
  width: 100%;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 64px;
}
.header__navbar li {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-right: 64px;
}
.header__navbar li a {
  color: #000;
}
.header__navbar li:last-child {
  margin-right: 0;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  background: transparent;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 50px;
}
.header__lang svg {
  margin-left: 14px;
}

.header__phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 24px 24px 28px;
  background: var(--Secondary, rgb(196, 0, 23));
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-100, rgb(255, 255, 255));
  margin-left: auto;
  border-radius: 50px;
}
.header__phone svg {
  margin-right: 24px;
}
.header__phone span {
  margin-right: 16px;
  color: var(--White-50, rgba(255, 255, 255, 0.5));
}

.banner {
  background: linear-gradient(33deg, rgba(0, 0, 0, 0) 40%, rgb(205, 244, 255) 100%);
  overflow: hidden;
}
.banner .container {
  min-height: 1024px;
  padding-top: 448px;
  padding-bottom: 100px;
  position: relative;
}

.banner__img {
  width: 848px;
  position: absolute;
  bottom: 0;
  right: -30px;
}

.banner__wrap {
  max-width: 730px;
  width: 100%;
}
.banner__wrap p {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  margin-bottom: 32px;
}

h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  margin-bottom: 8px;
}

.banner__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  background: var(--Third, rgb(20, 40, 65));
  padding: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 15px;
  margin-bottom: 48px;
}
.banner__link svg {
  margin-left: 14px;
}

.banner__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__rating {
  margin-right: 96px;
}
.banner__rating span {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
}

.services .container {
  padding-bottom: 112px;
}

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -16px;
  position: relative;
  z-index: 2;
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 8px);
  min-height: 416px;
  background: var(--White-30, rgba(255, 255, 255, 0.1));
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.05));
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 24px 0 0 24px;
  margin-bottom: 16px;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  height: 100%;
  padding: 48px 20px 40px 48px;
}
.services__content p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  margin-bottom: 14px;
}

h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  margin-bottom: 16px;
}

.services__img {
  width: 45%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.services__img img {
  width: auto;
  height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.services__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: auto;
}
.services__check span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.05));
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 12px;
  text-wrap: nowrap;
}
.services__check span svg {
  margin-right: 8px;
}
.services__check .green {
  color: rgb(66, 137, 21);
  background: rgb(193, 239, 164);
  border: 0;
}

.services__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(50% - 8px);
}

.services__block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - 8px);
  min-height: 416px;
  background: var(--White-30, rgba(255, 255, 255, 0.1));
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.05));
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 24px;
  margin-bottom: 16px;
  overflow: hidden;
}
.services__block2 .services__check {
  margin-top: 8px;
}
.services__block2 .services__content {
  width: 100%;
  height: auto;
  padding-right: 48px;
  padding-bottom: 0;
}
.services__block2 .services__img {
  width: 320px;
  height: 230px;
  margin: 0 auto;
  margin-top: auto;
}
.services__block2 .services__img img {
  width: 100%;
  height: auto;
}

.befaft {
  overflow: hidden;
}
.befaft .container {
  padding-bottom: 128px;
}

.title {
  max-width: 848px;
  width: 100%;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  margin-bottom: 64px;
}

h2 {
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  margin-bottom: 8px;
}

.befaft__slider .slick-list {
  overflow: visible;
}
.befaft__slider .slick-prev, .befaft__slider .slick-next {
  width: 64px;
  height: 64px;
  background: #F2FAFF;
  border-radius: 50%;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid var(--Black-5, rgba(0, 0, 0, 0.05));
  transition: all 0.3s ease;
}
.befaft__slider .slick-prev:hover, .befaft__slider .slick-next:hover {
  background: #c6e9ff;
}
.befaft__slider .slick-prev {
  left: -44px;
}
.befaft__slider .slick-next {
  right: -20px;
}
.befaft__slider .slick-prev::before, .befaft__slider .slick-next::before {
  display: none;
}
.befaft__slider .slick-prev::after, .befaft__slider .slick-next::after {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.befaft__slider .slick-prev::after {
  border-top: 0;
  border-right: 0;
  left: 55%;
}
.befaft__slider .slick-next::after {
  border-bottom: 0;
  border-left: 0;
  left: 45%;
}
.befaft__slider .slick-arrow.slick-disabled {
  z-index: -2;
  opacity: 0;
}

.befaft__wrap {
  margin-right: 24px;
}

.befaft__block {
  width: 100%;
  height: 752px;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
}
.befaft__block .beforeafter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.clean {
  overflow: hidden;
}
.clean .container {
  padding-bottom: 72px;
}

.clean__slider .slick-list {
  overflow: visible;
}

.clean__block {
  width: 560px;
  margin-right: 16px;
}

.clean__top {
  min-height: 262px;
  margin-bottom: 8px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1));
  border-radius: 24px;
  padding: 48px 44px 40px 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
}
.clean__top p {
  font-family: "Inter", sans-serif;
}
.clean__top .wrap {
  position: relative;
  padding-left: 32px;
}
.clean__top .wrap::before {
  content: "";
  width: 8px;
  height: calc(100% - 8px);
  background: var(--Black-10, rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.clean__top .services__check {
  margin-top: 24px;
}

h6 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Third, rgb(20, 40, 65));
  margin-bottom: 16px;
}

.clean__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 552px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1));
  border-radius: 24px;
  padding: 56px 52px 40px 52px;
  margin-bottom: 64px;
  overflow: hidden;
  position: relative;
}
.clean__bottom ul {
  position: relative;
  z-index: 2;
}
.clean__bottom ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  margin-bottom: 24px;
}
.clean__bottom ul li svg {
  margin-right: 16px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.clean__bottom ul li:last-child {
  margin-bottom: 0;
}
.clean__bottom ul li.black {
  margin-bottom: 16px;
}
.clean__bottom ul li.black p {
  padding: 8px 16px;
  background: var(--Third, rgb(20, 40, 65));
  border-radius: 50px;
  color: #fff;
}
.clean__bottom ul li.black svg {
  margin-left: -4px;
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.clean__img {
  width: 500px;
  height: auto;
  position: absolute;
  bottom: -150px;
  right: -140px;
}
.clean__img img {
  width: 100%;
}

.clean__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
}
.clean__price span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  margin-bottom: 8px;
  margin-right: 32px;
}
.clean__price span.redcolor {
  margin-right: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: line-through;
  color: var(--Secondary, rgb(196, 0, 23));
  margin-bottom: 8px;
}
.clean__price p {
  width: 100%;
}

.clean__block.clean2 .clean__top, .clean__block.clean2 .clean__bottom {
  background: rgb(242, 250, 255);
}
.clean__block.clean2 .clean__top .wrap::before {
  background: var(--Primary, rgb(12, 135, 212));
}
.clean__block.clean2 .clean__img {
  width: 300px;
  right: -40px;
  bottom: -100px;
}

.clean__block.clean3 .clean__top, .clean__block.clean3 .clean__bottom {
  background: rgb(242, 250, 255);
}
.clean__block.clean3 .clean__top .wrap::before {
  background: var(--Third, rgb(20, 40, 65));
}
.clean__block.clean3 .clean__img {
  width: 380px;
  right: -40px;
  bottom: -130px;
}

.from .container {
  padding-bottom: 72px;
}

.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgb(250, 250, 250);
  padding: 128px;
  position: relative;
  overflow: hidden;
}

.from__title {
  max-width: 633px;
  width: 100%;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
}

h3 {
  font-weight: 800;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #142841;
  margin-bottom: 8px;
}
h3 span {
  color: #C40017;
}

.form__wrap::after {
  width: 120%;
  height: 100%;
  content: "";
  position: absolute;
  bottom: -7%;
  left: -17%;
  background: url(../img/form-bg.png) no-repeat;
  background-size: 100%;
  background-position-x: left;
  background-position-y: bottom;
}

.form__block {
  max-width: 704px;
  width: 100%;
  margin-left: auto;
  background: rgb(255, 255, 255);
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1));
  border-radius: 24px;
  position: relative;
  z-index: 2;
}
.form__block .wrap {
  padding: 48px;
  border-bottom: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1));
}
.form__block .wrap:last-child {
  border-bottom: 0;
}

.form__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-100, rgb(0, 0, 0));
  margin-bottom: 12px;
}

.form__p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  margin-bottom: 32px;
}

.form__lines p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  padding-left: 130px;
}
.form__lines .lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 24px;
  margin-bottom: 32px;
}
.form__lines .lines span {
  display: block;
  width: 33.333%;
  height: 4px;
  position: relative;
}
.form__lines .lines span::before {
  content: "";
  width: calc(100% - 8px);
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--Black-5, rgba(0, 0, 0, 0.05));
  border-radius: 50px;
}
.form__lines .lines span::after {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid var(--Black-10, rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 50%;
  left: -32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
.form__lines .lines span.active::before {
  width: calc(100% - 40px);
  background: var(--Primary, rgb(12, 135, 212));
}
.form__lines .lines span.active::after {
  border-color: var(--Primary, rgb(12, 135, 212));
}
.form__lines .lines span.active + span::after {
  opacity: 1;
}

.form__input {
  margin-bottom: 24px;
}
.form__input input {
  width: 100%;
  height: 56px;
  padding: 0 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  background: transparent;
  border: 3px solid var(--Black-10, rgba(0, 0, 0, 0.1));
  border-radius: 16px;
}
.form__input input::-webkit-input-placeholder {
  color: #000;
}
.form__input input::-moz-placeholder {
  color: #000;
}
.form__input input:-ms-input-placeholder {
  color: #000;
}
.form__input input::-ms-input-placeholder {
  color: #000;
}
.form__input input::placeholder {
  color: #000;
}
.form__input span {
  display: block;
  margin-top: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  padding: 0 24px;
}

.form__input:last-child {
  margin-bottom: 0;
}

.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__check {
  position: relative;
}
.form__check input {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -99;
}
.form__check label {
  min-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 22px;
  border: 2px solid var(--Black-5, rgba(0, 0, 0, 0.05));
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}
.form__check label span {
  background: rgb(193, 239, 164);
  padding: 4px 12px;
  border-radius: 50px;
  color: rgb(66, 137, 21);
  margin-right: 16px;
}
.form__check label .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background: var(--Black-10, rgba(0, 0, 0, 0.1));
  margin-left: 15px;
  border-radius: 50%;
}
.form__check label .icon svg {
  display: none;
}
.form__check input:checked + label {
  background: var(--Primary, rgb(12, 135, 212));
  color: #fff;
}
.form__check input:checked + label .icon {
  background: #fff;
}
.form__check input:checked + label .icon svg {
  display: block;
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 72px;
  margin-top: 40px;
  background: var(--Third, rgb(20, 40, 65));
  border-radius: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  position: relative;
}
.form__btn svg {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.asked__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: var(--White-100, rgb(255, 255, 255));
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1));
  padding: 128px;
  border-radius: 24px;
}

.asked__title {
  max-width: 600px;
  width: 100%;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
}

h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  margin-bottom: 8px;
}

.asked__right {
  max-width: 600px;
  width: 100%;
}
.asked__right .wrap {
  position: relative;
  margin-bottom: 64px;
}
.asked__right .wrap:last-child {
  margin-bottom: 64px;
}
.asked__right .icon {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: var(--Black-5, rgba(0, 0, 0, 0.05));
  border: 1px solid var(--Black-10, rgba(0, 0, 0, 0.1));
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.asked__right .icon::after {
  content: "";
  width: 2px;
  height: 14px;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.asked__right .icon::before {
  content: "";
  width: 14px;
  height: 2px;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.asked__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 72px;
  padding-right: 120px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-100, rgb(0, 0, 0));
  cursor: pointer;
}

.asked__block {
  max-height: 0;
  overflow: hidden;
  padding-right: 120px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.asked__btn.active .icon::after {
  opacity: 0;
}

.asked__btn.active + .asked__block {
  max-height: 2000px;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.footer .container {
  padding-top: 46px;
  padding-bottom: 96px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__left {
  width: 40%;
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 88px;
}
.footer__soc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 48px;
}

.footer__copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
}

.footer__center {
  width: 20%;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 87px;
  margin: 0 auto;
}
.footer__logo img {
  width: 100%;
  height: auto;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 40%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
}
.footer__right .header__phone {
  margin-bottom: 40px;
}